*{

}

body{
	background: url(background.jpg);
	background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
	text-align:center;
}

p{
	text-align:center;
}

.container{
	background-color: rgb(192, 192, 192, 0.9);background-blend-mode: overlay;
	color: saddlebrown;	
}

img{
	width: 50%
}

h5{
	text-align:center;
	background-color: lightgrey;
 	color:whitesmoke;
 	padding:30px;
}
